body {
  background: repeating-linear-gradient(
       135deg,
       #FFCFDF,
       #FFCFDF 180px,
       #FEFDCA 180px,
       #FEFDCA 360px
     );
}

.draggable { 
    width: 272px; height: 206px; 
    padding: 0.5em; 
    z-index: 1000;
    border-radius: 5px;
  }

  .row {
  display: flex;
  text-align: center;
}

[id^="droppable"] {
  display: flex;
  flex: 4;
  flex-direction: column;
  width: 272px;
  height: 300px;
  padding: 0.5em;

}

#droppable {

}
#droppable2 {
  
}
#droppable3 {
  
}

.highlight3 {
  background: red;
}


