#draggable { 
  	background: lightblue; 
  	width: 180px; height: 150px; 
  	padding: 0.5em; 
  	z-index: 1000;
  }

#droppable, #droppable2 {
	float: right;
	width: 198px;
	height: 300px;
	padding: 0.5em;
}